body {
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  background: #0c0f2a;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 20px black;
}

.chat-box {
  background: black;
  height: 200px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: left;
}

input {
  width: 90%;
  padding: 8px;
  border-radius: 10px;
  border: none;
  margin-bottom: 5px;
}

button {
  width: 95%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background: purple;
  color: white;
  margin-top: 5px;
}
